.rmm {
	display:block;
	position:relative;
	width:50%;
	float: right;
	padding-top:-15px;
	text-align: center;
	margin: 0 auto;
	top: -30;
	right: -5;
}
.rmm * {
	-webkit-tap-highlight-color:transparent !important;
	font-family:Arial;
}
.rmm a {
	color:#00b4c9;
	text-decoration:none;
}
.rmm .rmm-main-list, .rmm .rmm-main-list li {
	margin:0px;
	padding:0px;
}
.rmm ul {
	display:block;
	width:auto !important;
	margin:0 auto !important;
	overflow:hidden;
	list-style:none;
	padding: 5px;
}


/* sublevel menu - in construction */
.rmm ul li ul, .rmm ul li ul li, .rmm ul li ul li a {
	display:none !important;
	height:0px !important;
	width:0px !important;
}
/* */


.rmm .rmm-main-list li {
	display:inline;
	padding:10px;
	margin:0px !important;
}
.rmm-toggled {
	display:none;
	width:20%;
	position:relative;
	overflow:hidden;
	margin:0 auto !important;
	margin-top: -20px;
}
.rmm-button:hover {
	cursor:pointer;
}
.rmm .rmm-toggled ul {
	display:none;
	margin:0px !important;
	padding:0px !important;
}
.rmm .rmm-toggled ul li {
	display:block;
	margin:0 auto !important;
}



/* MINIMAL STYLE */

.rmm.minimal a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #00b4c9 !important;
	font-size: .75em!important;
}
.rmm.minimal a:hover {
	color:#666!important;
	opacity: 10;
}
.rmm.minimal .rmm-main-list li a {
	display:inline-block;
	padding:8px 30px 8px 30px;
	margin:0px -3px 0px -3px;
	font-size:15px;
}
.rmm.minimal .rmm-toggled {
	width:95%;
	min-height:36px;
}
.rmm.minimal .rmm-toggled-controls {
	display:block;
	height:36px;
	color:#333333;
	text-align:left;
	position:relative;
}
.rmm.minimal .rmm-toggled-title {
	position:relative;
	top:9px;
	left:9px;
	font-size:16px;
	color: #333333;
	display: none;
}
.rmm.minimal .rmm-button {
	display:inline-block;
	position:fixed;
	right:20px;
	top:0px;
	margin-top: 15px;
	z-index: 9999999999999;
}

.rmm.minimal .rmm-button span {
	display:block;
	margin:4px 0px 4px 0px;
	height:2px;
	background: #333333;
	width:25px;
}
.rmm.minimal .rmm-toggled ul li a {
	display:block;
	width:100%;
	text-align:center;
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #f2f2f2;
	color: #333333;
	background-color: #FFF;
}
.rmm.minimal .rmm-toggled ul li:first-child a {
	border-top:1px solid #dedede;
}
